
.lineThrough{
  text-decoration: line-through;
  color: #d4837b;
 
}

.container.lineThrough {
 padding-left: 0;
  }
.container.lineThrough .checkmark{
display: none;
}

.dateup{
  align-self: flex-end;
  color: rgb(167, 167, 167);
  font-size: 0.8em;
  line-height: 0;
}
