.todo{
   height: 100vh;
   display: flex;
   justify-content: space-between;
}
.left{
   width: 40%;
   background-color: #fdf9f4;
   color: var(--red-color);
   border-right: 1px solid #eee4d6;
}
.greeting{
   font-family: var(--font-rem);
   font-weight: 900;
   font-size: 3em;
}
.appName{
   margin: 30px;
   font-family: var(--font-borel);
}
.content{
height: 70%;
display: flex;
flex-direction: column;
justify-content: center;
margin:0 50px;
gap: 20px;
}
.content input{
   margin-top: 30px;
}
.content button{
   align-self:end;
}

.right{
   width: 60%;
   height: 100%;
   overflow-y: auto;
   color: var(--red-color);
   background-color:var(--default-color);
} 
.today h4{
   text-align: center;
   margin:30px;
   font-family: var(--font-borel);
   font-weight: 600;
   font-size: 2.2em;
  
}


.form{
   display: flex;
   align-items: end;
   justify-content: space-between;
}
.form input{
   width: 100%;
}
.form span{
  align-self: end;
}

 