@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Borel&family=REM:wght@200;300;500;600;800&display=swap');

input[type=checkbox]:checked ~ .checkmark {
  @apply bg-red-500
}
input[type=checkbox]:checked ~ .checkmark:after {
  @apply block
}
.checkmark:after {
  @apply content-[''] absolute hidden left-1 top-0.5 w-[7px] h-2.5 border-r-[3px] border-b-[3px] border-white rotate-45
}

html{
  scroll-behavior: smooth;
  --font-rem:'REM', sans-serif;
  --font-borel: 'Borel', cursive;
  --default-color:#f8eee0;
  --red-color:#db3828;
  --gray-color:gray;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
 
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--red-color); 
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}